    <form onsubmit="addMessage(this)">
        <input type="text" id="email" placeholder="Tu Correo">
        <input type="text" id="msg" placeholder="Ingrese su mensaje">
        <input type="submit" value="Enviar"> 
    </form>

    <div id="messages"></div>